table {
    width: 100%;
    font-size: 12pt;

    @media print {
        font-size: 8pt;
    }
}

.container {
    margin: 0 auto;
    font-family: 'Hanken Grotesk', sans-serif;

    @media screen {
        width: 90%;
    }

}

.title {
    text-align: center;
    margin: 10px 0;
    font-size: 32px;

    @media print {
        font-size: 24pt;
    }
}

table .unit-stat {
    padding: 5px;

    & td {
        &:first-child {
            width: 16%;;
        }
        width: 12%;
        &:not(:first-child) {
            text-align: center;
        }
    }
}

.box-border {
    margin: 10px 0;
    border-width: 1px;
    border-color: #CCC;
    border-style: solid;
    border-radius: 4px;
    // box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.abilities {
    font-size: 12px;

    @media print {
        font-size: 6pt;
    }
}